html {
  height: 120%;
}

body {
  background-image: linear-gradient(#ea7e6a, #fa4083);
  font-family: 'Roboto', sans-serif;
  color: white;
}

.container {
  width: 1024px;
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
}

header {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

h1 {
  font-size: 40px;
  font-family: 'Playfair Display', serif;
}

.logo {
  flex: 1;
}

.navigation {
  flex: 4;
}

nav {
  text-align: right;
}

main {
  min-height: 300px;
  display: flex;
  align-items: center;
}

.herobox1 {
  flex: 2;
}

.herobox2 {
  flex: 1;
}

.cards{
  min-height: 300px;
  display: flex;
  justify-content: space-between;
}

.card1 {
  background-color: rgb(213, 58, 130);
  min-height: 100px;
  width: 30%;
}

.card2 {
  background-color: rgb(215, 108, 222);
  min-height: 100px;
  width: 30%;
}

.card3 {
  background-color: rgb(213, 58, 90);
  min-height: 100px;
  width: 30%;
}
